{% load static %}
{% load crispy_forms_tags %}
<h3 class="bg-secondary text-center p-2  border mt-2">Latest publications</h3>
    {% for article in latest_articles %}
        <div class="row p-0  border bg-success m-auto">
            <img class="bg-light img-fluid"  width="180px" src="{{article.image.url}}" alt="">
            <div class="col-md-6 p-2">
                <a class="text-light container-fluid font-weight-bold w-100" href="{% url 'articles:detail' article.id %}">{{article.title}}</a>
                <p class="text-dark w-100"> 
                    {{article.content|striptags|slice:":50"}}
                    <b>...</b>
                </p>
            </div>
        </div>
    {% endfor %}