{% load static %}
<h3 class="bg-danger text-center p-2 rounded border mt-2">Latest publications</h3>
<div class="row w-100 p-2 border bg-success m-auto">
    <img class="col-md-4"  src="{% static 'img/hacker-1.jpg' %}" alt="">
    <a class="text-light col-md-8"> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nobis laboriosam molestias, expedita porro debitis harum?
    </a>
</div>
<div class="row w-100 p-2 border bg-success m-auto">
    <img class="col-md-4"  src="{% static 'img/hacker-1.jpg' %}" alt="">
    <a class="text-light col-md-8"> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nobis laboriosam molestias, expedita porro debitis harum?
    </a>
</div>
<div class="row w-100 p-2 border bg-success m-auto">
    <img class="col-md-4"  src="{% static 'img/hacker-1.jpg' %}" alt="">
    <a class="text-light col-md-8"> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nobis laboriosam molestias, expedita porro debitis harum?
    </a>
</div>