{% extends "admins/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar %}
    <!-- start include the nav bar template -->
    {% include 'admins/navbar.html' %}
    <!-- start include the nav bar template -->
{% endblock navbar %}

{% block content %}
    <form action="" method="POST" class="mb-3" enctype="multipart/form-data">
        <div class="text-center">
            {% csrf_token %}
            {% if user_info.image %}
                <img class="rounded-circle mt-3 border border-dark" width="150px" height="150px"  src="{{user_info.image.url}}" alt="">
            {% else %}
                <img class="rounded-circle mt-3" width="150px" height="150px" src="{% static 'img/hacker-1.jpg' %}" alt="">
            {% endif %}
            <!-- start profile form fields -->
                <div class="row">
                    <div class="col-md-6">
                        {{profile_form.username|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.email|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.first_name|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.last_name|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.country|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.type|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.phone_number|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.image|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{profile_form.bio|as_crispy_field}}
                    </div>
                </div>
            <!-- end profile form fields -->
            <div class="col-md-12 mt-5">
                <input class="btn btn-success col-md-4 border border-light" type="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock content %}

{% block sidebar %}
    <!-- start include the side bar tamplate -->
    {% include "admins/sidebar.html" %}
    <!-- end include the side bar tamplate -->
{% endblock sidebar %}